<form (ngSubmit)="submit($event)" [formGroup]="formGroup" id="form">
	<h2 mat-dialog-title>certification form</h2>
	<mat-dialog-content>
		<mat-form-field class="example-full-width">
			<input formControlName="companyName" matInput placeholder="company name" type="text">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input formControlName="subject" matInput placeholder="subject" type="text">
		</mat-form-field>
		<div class="form-group example-full-width">
			<label class="bmd-label-floating"> description</label>
			<input class="form-control" formControlName="description" placeholder="description" type="text">
		</div>
		<div class="example-full-width">
			<legend>date get certification</legend>
			<mat-form-field>
				<input (click)="dateStart.open()" [matDatepicker]="dateStart" formControlName="dateStart"
					   matInput placeholder="Choose the date start">
				<mat-datepicker-toggle [for]="dateStart" matSuffix></mat-datepicker-toggle>
				<mat-datepicker #dateStart></mat-datepicker>
			</mat-form-field>
		</div>
		<div class="example-full-width">
			<legend>date get certification</legend>
			<mat-form-field>
				<input (click)="dateEnd.open()" [matDatepicker]="dateEnd" formControlName="dateEnd" matInput
					   placeholder="Choose the date end">
				<mat-datepicker-toggle [for]="dateEnd" matSuffix></mat-datepicker-toggle>
				<mat-datepicker #dateEnd></mat-datepicker>
			</mat-form-field>
		</div>
		<mat-form-field class="example-full-width">
			<input matInput placeholder="percentage of achievement" type="text">
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button [mat-dialog-close]="true" mat-button class="btn btn-dark">annuler</button>
		<button cdkFocusInitial class="btn btn-fill btn-success" mat-button type="submit">add internship</button>
	</mat-dialog-actions>
</form>
