<div class="main-content">
	<div class="container-fluid">
		<form (ngSubmit)="submit($event)" [formGroup]="formGroup" id="form">
			<h4 class="h4">certification form</h4>
			<div class="mat-typography">
				<div class="card">
					<div class="card-body ">
						<div class="example-full-width">
							<legend>Image of the certification</legend>
							<div class="fileinput fileinput-new text-center" data-provides="fileinput">
								<div class="fileinput-new thumbnail">
									<img alt="..." src="./assets/img/image_placeholder.jpg">
								</div>
								<div class="fileinput-preview fileinput-exists thumbnail"></div>
								<div>
                                <span class="btn btn-rose btn-round btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input name="..." type="file"/>
                                </span>
									<a class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"
									   href="#pablo"><em
										class="fa fa-times"></em> Remove</a>
								</div>
							</div>
						</div>
						<mat-form-field class="example-full-width">
							<input matInput placeholder="title" type="text" formControlName="title">
						</mat-form-field>
						<mat-form-field class="example-full-width">
							<textarea matInput placeholder="description" formControlName="description"></textarea>
						</mat-form-field>
						<div class="example-full-width">
							<legend>date get certification</legend>
							<mat-form-field>
								<input (click)="picker.open()" [matDatepicker]="picker" matInput
									   placeholder="Choose a date" formControlName="dateBeingCertified">
								<mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							</mat-form-field>
						</div>
						<mat-form-field class="example-full-width">
							<input matInput placeholder="percentage" type="text" formControlName="percentage">
						</mat-form-field>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-end">
				<a class="btn btn-fill btn-dark" mat-raised-button type="button" routerLink="/">annuler</a>
				<button class="btn btn-fill btn-success" mat-raised-button type="submit">add certification</button>
			</div>
		</form>
	</div>
</div>
