<div class="card">
	<div class="card-header d-flex flex-row justify-content-around align-items-center">
		<h4 class="card-title">la liste des certifications</h4>
		<a class="btn btn-success" routerLink="/internships/0" type="button">ajouter expérience</a>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table aria-describedby="Table description" class="table">
				<thead>
				<tr>
					<th class="text-center">sujet de stage</th>
					<th>nom de la société</th>
					<th>data début de stage</th>
					<th>date fin de stage</th>
					<th class="text-right">percentage d'avancement</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let row of rows; let i=index">
					<td class="text-center">{{row.subject}}</td>
					<td>{{row.companyName}}</td>
					<td>{{row.dateStart | date}}</td>
					<td>{{row.dateEnd | date}}</td>
					<td class="text-right">
						<mat-progress-bar [color]="row.percentageAchievement < 20 ? 'warn' : (row.percentageAchievement > 20 && row.percentageAchievement <=50 ? undefined : (row.percentageAchievement > 50 && row.percentageAchievement < 70 ? 'primary' : 'accent'))"
										  [style.width]="row.percentageAchievement"
										  class="progress-bar "
										  mode="determinate"
										  style="height: 20px"
										  value="{{row.percentageAchievement}}">
							{{row.percentageAchievement}} %
						</mat-progress-bar>
					</td>
					<td class="text-right">
						<button class="btn btn-outline-danger btn-just-icon" mat-raised-button><em
							class="material-icons" (click)="delete(row.id, i)">delete</em></button>					</td>
				</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>
