<div class="main-content">
	<div class="container-fluid">
		<div class="card ">
			<div class="card-header card-header-rose card-header-icon">
				<h4 class="card-title">internship form</h4>
			</div>
			<div class="card-body">
				<form (ngSubmit)="submit($event)" [formGroup]="formGroup" id="form">
					<mat-form-field class="example-full-width">
						<input formControlName="companyName" matInput placeholder="company name" type="text">
					</mat-form-field>
					<mat-form-field class="example-full-width">
						<input formControlName="subject" matInput placeholder="subject" type="text">
					</mat-form-field>
					<div class="form-group example-full-width">
						<label class="bmd-label-floating"> description</label>
						<textarea class="form-control" formControlName="description" placeholder="description" type="text"></textarea>
					</div>
					<div class="example-full-width">
						<legend>date get certification</legend>
						<mat-form-field>
							<input (click)="dateStart.open()" [matDatepicker]="dateStart" formControlName="dateStart"
								   matInput placeholder="Choose the date start">
							<mat-datepicker-toggle [for]="dateStart" matSuffix></mat-datepicker-toggle>
							<mat-datepicker #dateStart></mat-datepicker>
						</mat-form-field>
					</div>
					<div class="example-full-width">
						<legend>date get certification</legend>
						<mat-form-field>
							<input (click)="dateEnd.open()" [matDatepicker]="dateEnd" formControlName="dateEnd" matInput
								   placeholder="Choose the date end">
							<mat-datepicker-toggle [for]="dateEnd" matSuffix></mat-datepicker-toggle>
							<mat-datepicker #dateEnd></mat-datepicker>
						</mat-form-field>
					</div>
					<mat-form-field class="example-full-width">
						<input matInput placeholder="percentage of achievement" type="text" formControlName="percentageAchievement">
					</mat-form-field>
					<div class="d-flex justify-content-end">
						<a class="btn btn-fill btn-dark" mat-raised-button routerLink="/" type="button">annuler</a>
						<button class="btn btn-fill btn-success" mat-raised-button type="submit">add certification
						</button>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
