<div class="card ">
	<div class="card-header d-flex flex-row justify-content-around align-items-center">
		<h4 class="card-title">la liste des certifications</h4>
		<a type="button" class="btn btn-success" routerLink="/certifications/0">ajouter certification</a>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table aria-describedby="table of intersect" class="table">
				<thead>
				<tr>
					<th class="text-center">image de certification</th>
					<th class="text-center">titre de cértification</th>
					<th>description de la cértification</th>
					<th>date cértification</th>
					<th class="text-right">percentage de réussite</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let row of rows; let i=index">
					<td class="text-center">
						<img class="thumbnail w-100" [src]="row.image" alt="imageDeCertification" />
					</td>
					<td class="text-center">{{row.title}}</td>
					<td>{{row.description}}</td>
					<td>{{row.dateBeingCertified | date}}</td>
					<td>
							<mat-progress-bar mode="determinate" [color]="row.percentage < 20 ? 'warn' : (row.percentage > 20 && row.percentage <=50 ? undefined : (row.percentage > 50 && row.percentage < 70 ? 'primary' : 'accent'))" [style.width]="row.percentage"
											  style="height: 20px"
								 value="{{row.percentage}}"
								 class="progress-bar " >
								{{row.percentage}} %
							</mat-progress-bar>
					</td>
					<td class="text-right">
						<button class="btn btn-outline-danger btn-just-icon" mat-raised-button><em
							class="material-icons" (click)="delete(row.id, i)">delete</em></button>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
