/* You can add global styles to this file, and also import other style files */
.bg-warning
{
	color: #9aa506;
}
.mat-datepicker-content{    z-index: 1200}
::ng-deep .cdk-overlay-container {
	position: fixed !important;
  z-index: 1200 !important;
}
